{
"main":""" 
	background:#3a3a3a;
	Background-image:url('file:///C:/Users/Coder/Pictures/Capturecheck.PNG');
	color:white;
	border:1px solid orange;
	padding-left:20px;
	padding-right:20px
		""",

"othermain" : """
background:#3a3a3a;
color:white;
padding-left:20px;
padding-right:20px;
border:none;
	""",

	"inputs" : """ 
color:orange;
border:none;
border-bottom:1px solid orange;
height:20px;
font-size:13px;
color:white;
margin:20px;
margin-top:-2px;

	""",
"text" : """
margin:20px;
border:1px solid grey;
border-bottom:1px solid orange;
""",

"flable":"""border:none;font-size:17px;""",

"button" : """
font-size:13px;
margin-top:-2px;
margin:20px;
margin-left:20px;
height:25px; 
background:#5e5efe;
color:white;
border:1px solid white;
	""",
"log":"color:green;text-align:center;border:none;font-size:14px",

"log_label":"""
width:100%;
border:none;
font-size:2em;
color:orange;
text-align:center;
margin-top:2px;
margin:10px;
margin-bottom:25px;
	""",

"logbtn": """
	background:#5e5efe;
	height:25px;
	color:white;
	border:1px solid white;
	font-size:17px;
	margin:20px;
	margin-bottom:30px;
	margin-top:30px"""}
